XSD/fkbvn/fkbvn.xsd_SchematronSchema.xml

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <title>Schematron constraints for schema 'FKB-Vegnett 4.6'</title>
  <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
  <ns prefix="fkbvn" uri="https://raw.githubusercontent.com/jetgeo/NVDBGML/master/XSD/NVDB"/>
  <pattern>
    <rule context="fkbvn:LineærPosisjonStrekning">
      <assert test="fkbvn:fraPosisjon &lt; fkbvn:tilPosisjon">fraPosisjon mindre enn tilPosisjon</assert>
    </rule>
  </pattern>
</schema>
